.header1 {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans SemiBold";
}

.header2 {
    -fx-font-size: 18px;
    -fx-font-family: "Open Sans SemiBold";
}

.header3 {
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans SemiBold";
}

.glass-pane {
    -fx-background-color: black;
}

.mobile-header {
    -fx-background-color: -fx-accent;
    -fx-padding: 5px;
}

.mobile-header .menu-icon {
    -fx-icon-size: 48px;
    -fx-icon-color: white;
}

.master-view .mobile-cell {
    -fx-background-color: white, #e0e0e0, white;
    -fx-background-insets: 0px, 0px 20px 0px 20px, 0px 0px 1px 0px;
}

.master-view .mobile-cell:pressed {
    -fx-background-color: white, #e0e0e0, -light-blue;
    -fx-background-insets: 0px, 0px 20px 0px 20px, 0px 20px 1px 20px;
}

.detail-scroll-pane .viewport {
}

/* ----------------------------------------------------------------------------
 * DetailView
 */
.detail-view {
    -fx-background-color: white;
    -fx-spacing: 20px;
}

/* -----------------------------------------------------------------------------
 * SectionPane
 */
.section-pane {
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-radius: 3px;
    -fx-effect: null;
    -fx-padding: 0px 5px 10px 0px;
}

.section-pane .extras-box {
    -fx-spacing: 10px;
}

.section-pane .extras-box .more-menu-button {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.section-pane .extras-box .more-menu-button .label {
    -fx-padding: 0;
    -fx-alignment: center-right;
}

.section-pane .extras-box .more-menu-button .arrow-button {
    -fx-fill: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-padding: 0px;
}

.section-pane .extras-box .more-menu-button > .arrow-button > .arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

.section-pane .extras-box .more-menu-button .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
    -fx-icon-size: 24px;
}

.section-pane .placeholder {
    -fx-background-color: transparent;
}

.section-pane .placeholder-label {
    -fx-alignment: center-left;
}

.section-pane:no-border {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0;
    -fx-effect: null;
}

.section-pane > .section-pane-container .top-pane {
    -fx-padding: 0px 0px 0px 0px;
    -fx-background-color: -light-blue;
    -fx-background-insets: -5px;
    -fx-background-radius: 4px;
}

.section-pane > .section-pane-container .top-pane .button,
.section-pane > .section-pane-container .top-pane .menu-button {
}

.section-pane > .section-pane-container {
    -fx-spacing: 20;
}

.section-pane > .section-pane-container .title-box > .title-label {
}

.section-pane > .section-pane-container .title-box > .subtitle-label {
    -fx-text-fill: grey;
    -fx-font-size: 14px;
}

.section-pane > .section-pane-container > .children-box {
    -fx-spacing: 20;
}

.section-pane > .section-pane-container > .children-box > .button-bar {
    -fx-spacing: 15px;
}

.section-pane .filter-view .search-field {
    -size: 40px;
    -fx-max-height: -size;
    -fx-pref-height: -size;
    -fx-min-height: -size;
}

.section-pane .filter-view .title {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans SemiBold";
}

.section-pane .filter-view .subtitle {
    -fx-font-size: 14px;
    -fx-opacity: .8;
}

.section-pane .list-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
}

.section-pane .list-cell:filled {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.section-pane .list-cell:selected {
    -fx-background-color: rgba(230, 230, 230);
}

.section-pane .list-cell:selected .label {
    -fx-text-fill: black;
}

.section-pane .list-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.section-pane .list-cell:selected .button {
}

.section-pane .list-cell:selected .button .ikonli-font-icon {
}

.section-pane .search-field {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 3px;
    -fx-padding: 0px 5px;
    -fx-prompt-text-fill: white;
    -fx-pref-height: 20px;
}

.section-pane .search-field .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 18px;
}

/* ----------------------------------------------------------------------------
 * MobileMasterPersonCell
 */
.mobile-master-person-cell .hbox {
    -fx-spacing: 10px;
    -fx-padding: 10px 0px;
}

.mobile-master-person-cell .hbox .vbox {
    -fx-spacing: 5px;
}

.mobile-master-person-cell .rockstar-label,
.mobile-master-person-cell .champion-label {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 4px;
    -fx-font-size: 12;
    -fx-padding: 5px 10px;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
}

.mobile-master-person-cell .photo-view {
    -size: 64px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.mobile-master-person-cell .badges {
    -fx-spacing: 10px;
}

.mobile-master-person-cell .title-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 16px;
    -fx-text-fill: -fx-accent;
}

.top-menu-scrollpane-wrapper {
    -fx-padding: 0px 0px 0px 0px;
    -fx-background-color: white;
    -fx-effect: -drop-shadow-3;
}

.top-menu.mobile {
    -fx-padding: 10px 10px 10px 0px;
    -fx-background-color: -light-blue;
    -fx-effect: -drop-shadow-1;
}

.top-menu.mobile .toggle-button {
    -fx-padding: 10px 15px 10px 15px;
    -fx-background-radius: 0px 3px 3px 0px;
    -fx-background-padding: 0px;
    -fx-background-insets: 0px 5px 0px 0px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 3px 0px 3px;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Open Sans SemiBold";
    -fx-opacity: .6;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-graphic-text-gap: 10px;
}

.top-menu.mobile:expanded .toggle-button {
    -fx-padding: 10px 30px 10px 15px;
}

.top-menu.mobile .toggle-button:hover,
.top-menu.mobile .toggle-button:hover:selected {
    -fx-opacity: 1;
    -fx-background-color: -red;
    -fx-border-color: transparent transparent transparent derive(-red, -20%);
    -fx-text-fill: white;
}

.top-menu.mobile .toggle-button:pressed,
.top-menu.mobile .toggle-button:pressed:selected {
    -fx-opacity: 1;
    -fx-background-color: rgba(250, 0, 20, .5);
}

.top-menu.mobile .toggle-button:hover .icon-wrapper .ikonli-font-icon,
.top-menu.mobile .toggle-button:hover:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-color: white;
}

.top-menu.mobile .toggle-button:selected {
    -fx-opacity: 1;
    -fx-background-padding: 0px;
    -fx-background-color: -fx-accent;
    -fx-border-width: 0px 3px 0px 3px;
    -fx-border-color: transparent transparent transparent derive(-fx-accent, -20%);
    -fx-text-fill: white;
}

.top-menu.mobile .toggle-button .icon-wrapper {
    -fx-pref-width: 32px;
}

.top-menu.mobile .toggle-button .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: black;
}

.top-menu.mobile .toggle-button:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}

/* ----------------------------------------------------------------------------
 * MobileMasterRealWorldAppCell
 */
.mobile-master-app-list-cell .grid-pane {
    -fx-vgap: 5px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.mobile-master-app-list-cell .grid-pane .name-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
    -fx-font-size: 16px;
}

.mobile-master-app-list-cell .grid-pane .summary-markdown-view {
}

/* ----------------------------------------------------------------------------
 * MobileMasterLibraryCell
 */
.mobile-master-library-cell .hbox {
    -fx-spacing: 10px;
}

.mobile-master-library-cell .hbox .vbox {
    -fx-spacing: 5px;
}

.mobile-master-library-cell .label {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MobileMasterToolCell
 */
.mobile-master-tool-cell .hbox {
    -fx-spacing: 10px;
    -fx-padding: 10px 0px;
}

.mobile-master-tool-cell .hbox .vbox {
    -fx-spacing: 5px;
}

.mobile-master-tool-cell .label {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MobileMasterBlogCell
 */
.mobile-master-blog-cell .hbox {
    -fx-spacing: 10px;
}

.mobile-master-blog-cell .hbox .vbox {
    -fx-spacing: 5px;
}

.mobile-master-blog-cell .label {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MobileMasterBookCell
 */
.mobile-master-book-cell .hbox {
    -fx-spacing: 10px;
    -fx-padding: 10px 0px;
}

.mobile-master-book-cell .hbox .vbox {
    -fx-spacing: 5px;
}

.mobile-master-book-cell .label {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}
