.header1 {
    -fx-font-size: 1.2857em;
    -fx-font-family: "Inter Semi Bold";
}

.header2 {
    -fx-font-size: 1.1428em;
    -fx-font-family: "Inter Semi Bold";
}

.header3 {
    -fx-font-size: 1em;
    -fx-font-family: "Inter Semi Bold";
}

.glass-pane {
    -fx-background-color: black;
}

.mobile-header {
    -fx-background-color: -fx-accent;
    -fx-padding: 0.3571em 0.3571em 0.3571em 0.3571em;
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

.mobile-header .menu-icon {
    -fx-icon-size: 48px;
    -fx-icon-color: white;
}

.mobile-header .title {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-effect: -drop-shadow-1;
}

.mobile-header .title-shadow {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 24px;
    -fx-text-fill: derive(-fx-accent, -50%);
    -fx-effect: -drop-shadow-1;
    -fx-translate-x: 1px;
    -fx-translate-y: 1px;
}

.master-view .viewport {
    -fx-background-color: white;
}

.master-view .mobile-cell {
    -fx-background-color: white, #e0e0e0, white;
    -fx-background-insets: 0em, 0em 0em 0em 0em, 0em 0em 0.0714em 0em;
}

.master-view .mobile-cell:pressed {
    -fx-background-color: white, -light-blue;
    -fx-background-insets: 0em, 2px 0px 0px 0px;
}

.master-view .mobile-cell .title-label {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 1.1428em;
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * DetailView
 */
.detail-view {
    -fx-background-color: white;
    -fx-spacing: 1.4285em;
}

.detail-scroll-pane .scroll-pane .viewport {
}

/* -----------------------------------------------------------------------------
 * SectionPane
 */
.section-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0.2142em;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0em 0em 0em 0em;
    -fx-border-radius: 0.2142em;
    -fx-effect: null;
    -fx-padding: 0em;
}

.section-pane .extras-box {
    -fx-spacing: 0.7142em;
}

.section-pane .extras-box .more-menu-button {
    -fx-padding: 0em;
    -fx-background-color: transparent;
}

.section-pane .extras-box .more-menu-button .label {
    -fx-padding: 0em;
    -fx-alignment: center-right;
}

.section-pane .extras-box .more-menu-button .arrow-button {
    -fx-fill: transparent;
    -fx-pref-width: 0em;
    -fx-pref-height: 0em;
    -fx-padding: 0em;
}

.section-pane .extras-box .more-menu-button > .arrow-button > .arrow {
    -fx-pref-width: 0em;
    -fx-pref-height: 0em;
    -fx-min-width: 0em;
    -fx-min-height: 0em;
}

.section-pane .extras-box .more-menu-button .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
    -fx-icon-size: 24px;
}

.section-pane .placeholder {
    -fx-background-color: transparent;
}

.section-pane .placeholder-label {
    -fx-alignment: center-left;
}

.section-pane:no-border {
    -fx-padding: 0 0 0 0em;
    -fx-border-width: 0em;
    -fx-effect: null;
}

.section-pane > .section-pane-container .top-pane {
    -fx-padding: 0em 0em 0em 0em;
    -fx-background-color: -light-blue;
    -fx-background-insets: -0.3571em;
    -fx-background-radius: 4px;
}

.section-pane > .section-pane-container .top-pane .button,
.section-pane > .section-pane-container .top-pane .menu-button {
}

.section-pane > .section-pane-container {
    -fx-spacing: 1.4285em;
}

.section-pane > .section-pane-container .title-box {
    -fx-background-radius: 0px;
    -fx-padding: 10px;
}

.section-pane > .section-pane-container .title-box > .title-label {
}

.section-pane > .section-pane-container .title-box > .subtitle-label {
    -fx-text-fill: grey;
    -fx-font-size: 1em;
}

.section-pane > .section-pane-container > .children-box {
    -fx-spacing: 1.4285em;
    -fx-padding: 0px 10px;
}

.section-pane > .section-pane-container > .children-box > .button-bar {
    -fx-spacing: 10.3571em;
}

.section-pane .filter-view .header-box {
    -fx-spacing: 0px;
    -fx-background-color: -light-blue;
    -fx-padding: 0px 10px 5px 0px;
}

.section-pane .filter-view .search-field {
    -size: 2.8571em;
    -fx-max-height: -size;
    -fx-pref-height: -size;
    -fx-min-height: -size;
    -fx-translate-y: 10px;
}

.section-pane .filter-view .title {
    -fx-font-size: 1.1428em;
    -fx-font-family: "Inter Semi Bold";
}

.section-pane .filter-view .subtitle {
    -fx-font-size: 1em;
    -fx-opacity: .8;
    -fx-padding: 0px 10px;
    -fx-translate-y: -5px;
}

.filter-view .filter-groups {
    -fx-spacing: 0px;
}

.filter-view .filter-groups .menu-button {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-insets: 0px;
}

.filter-view .filter-groups .menu-button:focused {
    -fx-background-color: -fx-accent;
    -fx-background-insets: 0px;
}

.filter-view .filter-container {
    -fx-spacing: 0px;
}

.filter-view .filters {
    -fx-padding: 10px 5px 0px 5px;
}

.filter-view .filters .clear-filter-label {
}

.filter-view .filters .chip-view .label {
    -fx-font-size: 14px;
}

.section-pane .list-cell {
    -fx-background-color: white;
    -fx-padding: 0.7142em 0em;
}

.section-pane .list-cell:filled {
    -fx-border-width: 0 0 1 0;
    /*-fx-border-style: dashed;*/
    -fx-border-color: rgba(0, 0, 0, .2);
}

.section-pane .list-cell:selected {
    -fx-background-color: rgba(230, 230, 230);
}

.section-pane .list-cell:selected .label {
    -fx-text-fill: black;
}

.section-pane .list-cell.last {
    -fx-padding: 0.7142em 0em;
    -fx-border-width: 0em;
}

.section-pane .list-cell:selected .button {
}

.section-pane .list-cell:selected .button .ikonli-font-icon {
}

.section-pane .search-field {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 0.2142em;
    -fx-padding: 0em 0.3571em;
    -fx-prompt-text-fill: white;
    -fx-pref-height: 1.4285em;
}

.section-pane .search-field .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 0.0714em;
}

.people-detail-view .title-section .responsive-box {
    -fx-padding: 20px 0px 10px 0px;
}

.people-detail-view .title-section .responsive-box .button-box {
}

.responsive-box {
}

.section-pane-container {
    -fx-spacing: 10px !important;
}

/* ----------------------------------------------------------------------------
 * MobileMasterPersonCell
 */
.mobile-master-person-cell .hbox {
    -fx-spacing: 0.7142em;
    -fx-padding: 0.7142em 0em;
}

.mobile-master-person-cell .hbox .vbox {
    -fx-spacing: 0.7142em;
}

.mobile-master-person-cell .rockstar-label,
.mobile-master-person-cell .champion-label {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-font-size: 0.7142em;
    -fx-padding: 0.2142em 0.7142em;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 4px;
    -fx-text-fill: -fx-accent;
}

.mobile-master-person-cell .photo-view {
    -size: 64px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.mobile-master-person-cell .badges {
    -fx-spacing: 0.7142em;
}

.top-menu-scrollpane-wrapper {
    -fx-padding: 0em 0em 0em 0em;
    -fx-background-color: white;
    -fx-effect: -drop-shadow-3;
}

.top-menu.mobile {
    -fx-padding: 0.7142em 0.7142em 0.7142em 0em;
    -fx-background-color: -light-blue;
    -fx-effect: -drop-shadow-1;
}

.top-menu.mobile .toggle-button {
    -fx-padding: 0.7142em 1.0714em 0.7142em 1.0714em;
    -fx-background-radius: 0em 0.2142em 0.2142em 0em;
    -fx-background-padding: 0em;
    -fx-background-insets: 0em 0.3571em 0em 0em;
    -fx-background-color: transparent;
    -fx-border-radius: 0em;
    -fx-border-width: 0em 0.2142em 0em 0.2142em;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Inter Semi Bold";
    -fx-opacity: .6;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-graphic-text-gap: 0.7142em;
}

.top-menu.mobile:expanded .toggle-button {
    -fx-padding: 0.7142em 2.1428em 0.7142em 1.0714em;
}

.top-menu.mobile .toggle-button:hover,
.top-menu.mobile .toggle-button:hover:selected {
    -fx-opacity: 1;
    -fx-background-color: -red;
    -fx-border-color: transparent transparent transparent derive(-red, -20%);
    -fx-text-fill: white;
}

.top-menu.mobile .toggle-button:pressed,
.top-menu.mobile .toggle-button:pressed:selected {
    -fx-opacity: 1;
    -fx-background-color: rgba(250, 0, 20, .5);
}

.top-menu.mobile .toggle-button:hover .icon-wrapper .ikonli-font-icon,
.top-menu.mobile .toggle-button:hover:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-color: white;
}

.top-menu.mobile .toggle-button:selected {
    -fx-opacity: 1;
    -fx-background-padding: 0em;
    -fx-background-color: -fx-accent;
    -fx-border-width: 0em 0.2142em 0em 0.2142em;
    -fx-border-color: transparent transparent transparent derive(-fx-accent, -20%);
    -fx-text-fill: white;
}

.top-menu.mobile .toggle-button .icon-wrapper {
    -fx-pref-width: 32px;
}

.top-menu.mobile .toggle-button .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: black;
}

.top-menu.mobile .toggle-button:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}

/* ----------------------------------------------------------------------------
 * MobileMasterRealWorldAppCell
 */
.mobile-master-app-list-cell .hbox {
    -fx-padding: 0.7142em 0em;
    -fx-spacing: 0.7142em;
    -fx-alignment: top-left;
    -fx-fill-height: true;
}

.mobile-master-app-list-cell .hbox .vbox {
    -fx-spacing: 0.3571em;
}

.mobile-master-app-list-cell .hbox .vbox .title-label {
    -fx-padding: 0px 0px 5px 0px;
}

.mobile-master-app-list-cell .hbox .vbox .summary-label {
    -fx-padding: 0px 0px 5px 0px;
}

.mobile-master-app-list-cell .hbox .vbox .markdown-view {
    -fx-padding: 0px 0px 5px 0px;
}

.mobile-master-app-list-cell .hbox .vbox .icon-wrapper {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

/* ----------------------------------------------------------------------------
 * MobileMasterTipsCell
 */
.mobile-master-tips-cell {
    -fx-spacing: 0.7142em;
    -fx-padding: 0.7142em 0.7142em;
}

/* ----------------------------------------------------------------------------
 * MobileMasterLibraryCell
 */
.mobile-master-library-cell .hbox {
    -fx-spacing: 0.7142em;
    -fx-padding: 0.7142em 0.3571em;
}

.mobile-master-library-cell .hbox .vbox {
    -fx-spacing: 0.3571em;
}

/* ----------------------------------------------------------------------------
 * MobileMasterToolCell
 */
.mobile-master-tool-cell .hbox {
    -fx-spacing: 0.7142em;
    -fx-padding: 1.4285em 0.3571em;
}

.mobile-master-tool-cell .hbox .vbox {
    -fx-spacing: 0.3571em;
}

.mobile-master-tool-cell .label {
    -fx-font-size: 1.1428em;
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MobileMasterBlogCell
 */
.mobile-master-blog-cell .hbox {
    -fx-spacing: 0.7142em;
    -fx-padding: 0.7142em 0.3571em;
}

.mobile-master-blog-cell .hbox .vbox {
    -fx-spacing: 0.7142em;
}

/* ----------------------------------------------------------------------------
 * MobileMasterBookCell
 */
.mobile-master-book-cell .hbox {
    -fx-spacing: 0.7142em;
    -fx-padding: 1.4285em 0.3571em;
}

.mobile-master-book-cell .hbox .vbox {
    -fx-spacing: 0.7142em;
}

/* ----------------------------------------------------------------------------
 * FontSizeSelector
 */
.font-size-selector .toggle-button,
.font-size-selector .toggle-button:hover,
.font-size-selector .toggle-button:pressed {
    -fx-background-color: -fx-accent;
}

.font-size-selector .toggle-button:selected {
    -fx-background-color: white, -fx-accent;
    -fx-background-insets: 0em, 0em 0em 0.2142em 0em;
}

/* ----------------------------------------------------------------------------
 * DetailCompanyCell
 */
.detail-company-cell {
    -fx-padding: 10px 0px !important;
}

/* ----------------------------------------------------------------------------
 * OverlayPane
 */
.overlay-pane .content-wrapper {
    -fx-border-insets: 10px !important;
}

.real-world-detail-view .section-pane.title-box {
    -fx-padding: 0px;
    -fx-background-color: orange;
}

.tips-detail-view .header-box {
    -fx-alignment: center;
}

.tips-detail-view .header-box .title-label {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 1.2857em;
    -fx-padding: 1.2857em 0em 0em 0em;
}

.tips-detail-view .header-box .summary-label {
}

.tips-detail-view .header-box .author-label {
    -fx-padding: 10px 0px 0px 0px;
    -fx-font-family: "Inter Italic";
}

.tips-detail-view .header-box .image-view {
    -fx-image: url("tips-banner.jpg");
}

/* ----------------------------------------------------------------------------
 * BlogsDetailView
 */
.blogs-detail-view .title-section {
    -fx-padding: 20px 0px 0px 0px;
}

/* ----------------------------------------------------------------------------
 * BooksDetailView
 */
.books-detail-view .title-section {
    -fx-padding: 20px 0px 0px 0px;
}

/* ----------------------------------------------------------------------------
 * ToolsDetailView
 */
.tools-detail-view .title-section .top-pane {
    -fx-background-color: white;
    -fx-padding: 10px 0px 0px 0px;
}

/* ----------------------------------------------------------------------------
 * LibrariesDetailView
 */
.libraries-detail-view .title-section .top-pane {
    -fx-background-color: white;
    -fx-padding: 10px 0px 0px 0px;
}