.custom-stage {
    -fx-background-color: -blue;
    -fx-padding: 2 4 4 4;
}

.custom-stage:stage-focused {
}

.custom-stage:web {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0;
}

.custom-stage:web:stage-focused {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0;
}

.custom-stage .title-bar {
    -fx-padding: 5 10 5 10;
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

.custom-stage:stage-focused .title-bar {
}

.custom-stage .title-bar > .title {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-font-size: 1.2em;
}

.custom-stage .title-bar > .button,
.custom-stage .title-bar > .toggle-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.custom-stage .title-bar > .button .ikonli-font-icon,
.custom-stage .title-bar > .toggle-button .ikonli-font-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: white;
}

.custom-stage .title-bar > .button:hover .ikonli-font-icon,
.custom-stage .title-bar > .toggle-button:hover .ikonli-font-icon {
    -fx-icon-color: rgba(0, 0, 0, .6);
}

.custom-stage .title-bar > .button:pressed .ikonli-font-icon,
.custom-stage .title-bar > .toggle-button:pressed .ikonli-font-icon {
    -fx-icon-color: white;
}

