@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans Regular";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans Italic";
    src: url("fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans SemiBold";
    src: url("fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans SemiBoldItalic";
    src: url("fonts/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Pattaya";
    font-face-name: "Pattaya-Regular";
    src: url("fonts/Pattaya-Regular.ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    font-face-name: "JetBrains Mono Regular";
    src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "Permanent Marker";
    font-face-name: "Permanent Marker Regular";
    src: url("fonts/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Regular";
    src: url("fonts/Inter-Regular.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Italic";
    src: url("fonts/Inter-Italic.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Bold";
    src: url("fonts/Inter-Bold.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Bold Italic";
    src: url("fonts/Inter-BoldItalic.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Semi Bold";
    src: url("fonts/Inter-SemiBold.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Semi Bold Italic";
    src: url("fonts/Inter-SemiBoldItalic.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Medium";
    src: url("fonts/Inter-Medium.otf");
}

@font-face {
    font-family: "Inter";
    font-face-name: "Inter Medium Italic";
    src: url("fonts/Inter-MediumItalic.otf");
}

@font-face {
    font-family: "Pattaya";
    font-face-name: "Pattaya-Regular";
    src: url("fonts/Pattaya-Regular.ttf");
}

.root {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-accent: rgb(68, 131, 160);

    -light-grey: rgba(239, 242, 245);
    -light-blue: rgba(224, 229, 234);
    -red: rgba(250, 80, 80, 1);
    -green: forestgreen;
    -grey: rgba(0, 0, 0, .4);
    -drop-shadow-1: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
    -drop-shadow-2: dropshadow(gaussian, rgba(0, 0, 0, .26), 15, 0.16, -1, 4);
    -drop-shadow-3: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);

    -fx-font-smoothing-type: lcd;

    -white-button-text-color: rgb(110, 110, 110);
    -white-button-text-color-hover: rgb(255, 255, 255);
    -white-button-text-color-pressed: white;

    -white-button-background-color: rgb(230, 230, 230);
    -white-button-background-color-hover: rgb(150, 150, 150);
    -white-button-background-color-pressed: -fx-accent;
}

.root.large {
    -fx-font-size: 16px;
}

.root.small {
    -fx-font-size: 12px;
}

.pagination .page {
    -fx-background-color: transparent;
}

.advanced-list-cell {
    -fx-padding: 5px 0px 10px 0px;
}

.master-cell {}

.detail-cell {
    -fx-padding: 5px 0px 10px 0px;
}

.header1 {
    -fx-font-size: 1.7142em;
    -fx-font-family: "Inter Semi Bold";
}

.header2 {
    -fx-font-size: 1.2857em;
    -fx-font-family: "Inter Semi Bold";
}

.header3 {
    -fx-font-family: "Inter Semi Bold";
}

.hyperlink {
    -fx-text-fill: white;
    -fx-font-family: "Inter Semi Bold";
    -fx-underline: true;
    -fx-padding: 2px 5px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 2px;
}

.check-box > .box {
    -fx-background-color: -fx-accent;
}

.check-box > .box > .mark {
    -fx-background-color: white;
}

.check-box > .box > .mark {
    -fx-background-color: transparent;
}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

.toggle-button,
.button {
    -fx-background-radius: 3px;
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
    -fx-font-family: "Inter Semi Bold";
}

.toggle-button:hover,
.button:hover {
    -fx-background-color: derive(-fx-accent, -20%);
}

.toggle-button:pressed,
.button:pressed {
    -fx-background-color: -fx-accent, white;
    -fx-background-insets: 0px, 1px;
    -fx-text-fill: -fx-accent;
}

.toggle-button .ikonli-font-icon,
.button .ikonli-font-icon {
    -fx-icon-color: white;
}

.toggle-button:hover .ikonli-font-icon,
.button:hover .ikonli-font-icon {
}

.toggle-button:pressed .ikonli-font-icon,
.button:pressed .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
}

.white-button {
    -fx-border-color: -white-button-text-color;
    -fx-border-radius: 2px;
    -fx-background-color: -white-button-background-color;
    -fx-text-fill: -white-button-text-color;
    -fx-font-family: "Inter Bold";
}

.white-button:hover {
    -fx-background-color: -white-button-background-color-hover;
    -fx-text-fill: -white-button-text-color-hover;
}

.white-button:pressed {
    -fx-background-color: -white-button-background-color-pressed;
    -fx-text-fill: -white-button-text-color-pressed;
}

.white-button .ikonli-font-icon {
    -fx-icon-color: -white-button-text-color;
}

.white-button:hover .ikonli-font-icon {
    -fx-icon-color: -white-button-text-color-hover;
}

.white-button:pressed .ikonli-font-icon {
    -fx-icon-color: -white-button-text-color-pressed;
}

.radio-button > .radio {
    -fx-background-insets: 0px;
    -fx-background-color: -fx-accent;
    -fx-border-width: 0px;
}

.radio-button:selected > .radio > .dot {
    -fx-background-insets: 0px;
    -fx-background-color: white;
}

.combo-box-base {
    -fx-background-color: -fx-accent;
}

.combo-box-base > * > .text {
    -fx-font-family: "Inter Bold";
    -fx-fill: white;
}

.combo-box-base .arrow {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 3px;
}

.menu-button > .label {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: white;
}

.menu-button .menu-item {
    -fx-font-family: "Inter Semi Bold";
}

.menu-button .arrow {
    -fx-background-color: white;
}

.chip-view .label {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 0.8571em;
}

.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-arrow {
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.scroll-bar:horizontal .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-arrow {
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.root-wrapper {
    -fx-background-color: lightgrey;
    -fx-background-image: url("brushed.jpg");
}

.root-wrapper.mobile {
    -fx-background-image: null;
}

.root-pane {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 20, 0.19, -1, 6);
}

.root-pane .top-spacer {
    /* we wil need it when we run on iPad */
    -fx-pref-height: 0px;
    -fx-background-color: -light-blue;
}

.root-pane .logo-image-view {
    -fx-image: url("duke-stack.png");
}

.root-pane .logo-image-wrapper {
    -fx-effect: -drop-shadow-1;
    -fx-translate-x: 10px;
    -fx-translate-y: 10px;
}

.root-pane:expanded .logo-image-wrapper {
    -fx-translate-x: 40px;
    -fx-translate-y: 10px;
}

.loading-view {
    -fx-background-color: -fx-accent;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-padding: 20px;
}

.loading-view .label {
    -fx-text-fill: white;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 1.7142em;
}

.loading-view .progress-bar .bar {
    -fx-background-color: derive(-fx-accent, -20%);
    -fx-background-insets: 2px;
}

.loading-view .progress-bar .track {
    -fx-background-insets: 1px;
    -fx-background-radius: 2px;
    -fx-background-color: white;
}

.top-menu {
    -fx-spacing: 0.3571em;
    -fx-padding: 2.1428em 0.7142em 0.7142em 0em;
    -fx-background-color: -light-blue;
    -fx-border-color: rgba(0, 0, 0, .05);
    -fx-border-width: 0em 0.0714em 0em 0em;
}

.top-menu:expanded {
    -fx-padding: 5.7142em 0.7142em 0.7142em 0em;
}

.top-menu .tool-bar-overflow-button {
    -fx-translate-y: 70px; /* work around */
}

.top-menu > * > * > .toggle-button {
    -fx-padding: 0.7142em 1.0714em 0.7142em 1.0714em;
    -fx-background-radius: 0em 0.2142em 0.2142em 0em;
    -fx-background-padding: 0em;
    -fx-background-insets: 0em 0.3571em 0em 0em;
    -fx-background-color: transparent;
    -fx-border-radius: 0em;
    -fx-border-width: 0em 0.2142em 0em 0.2142em;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Inter Bold";
    -fx-opacity: .6;
    -fx-text-fill: black;
    -fx-graphic-text-gap: 0.7142em;
}

.top-menu:expanded > * > * > .toggle-button {
    -fx-padding: 0.7142em 2.1428em 0.7142em 1.0714em;
}

.top-menu > * > * > .toggle-button:hover,
.top-menu > * > * > .toggle-button:hover:selected {
    -fx-opacity: 1;
    -fx-background-color: -red;
    -fx-border-color: transparent transparent transparent derive(-red, -20%);
    -fx-text-fill: white;
}

.top-menu > * > * > .toggle-button:pressed,
.top-menu > * > * > .toggle-button:pressed:selected {
    -fx-opacity: 1;
    -fx-background-color: rgba(250, 0, 20, .5);
}

.top-menu > * > * > .toggle-button:hover .icon-wrapper .ikonli-font-icon,
.top-menu > * > * > .toggle-button:hover:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-color: white;
}

.top-menu > * > * > .toggle-button:selected {
    -fx-opacity: 1;
    -fx-background-padding: 0px;
    -fx-background-color: -fx-accent;
    -fx-border-width: 0px 0.2142em 0px 0.2142em;
    -fx-border-color: transparent transparent transparent derive(-fx-accent, -20%);
    -fx-text-fill: white;
}

.top-menu > * > * > .toggle-button .icon-wrapper {
    -fx-pref-width: 2.2857em;
}

.top-menu > * > * > .toggle-button .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: black;
}

.top-menu > * > * > .toggle-button:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-color: white;
}

.top-menu .duke {
    -fx-image: url("duke.png");
}

.detail-scroll-pane {
    -fx-padding: 20px;
    -fx-background-color: -light-grey;
}

.champion-image {
    -fx-image: url("champion-small.png");
}

.rockstar-image {
    -fx-image: url("rockstar-small.png");
}

/* ----------------------------------------------------------------------------
 * MasterView
 */
.master-view {
    -fx-background-color: -light-blue;
}

.master-view .list-view {
    -fx-background-color: -light-blue;
    -fx-background-insets: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0px;
}

.master-view .list-cell {
    -fx-padding: 10px 20px;
    -fx-background-color: -light-blue;
}

.master-view .list-cell:selected {
    -fx-background-color: -light-grey;
}

/* ----------------------------------------------------------------------------
 * DetailView
 */
.detail-view {
    -fx-background-color: -light-grey;
    -fx-spacing: 20px;
}

.detail-view .back-label {
    -fx-translate-x: 10px;
    -fx-translate-y: 10px;
    -fx-padding: 0px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000px;
    -fx-text-fill: -fx-accent;
    -fx-font-size: 1.2857em;
    -fx-content-display: graphic-only;
}

.detail-view .back-label .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}

/* ----------------------------------------------------------------------------
 * MasterPersonCell
 */
.master-person-list-cell .arrow-icon {
    -fx-icon-size: 32px;
    -fx-icon-color: -fx-accent;
}

.master-person-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.master-person-list-cell .rockstar-label,
.master-person-list-cell .champion-label {
    -fx-font-size: 0.5714em;
    -fx-padding: 0px 3px;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-accent;
    -fx-opacity: .5;
}

.master-person-list-cell .grid-pane .photo-view {
    -size: 30px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.master-person-list-cell .grid-pane .photo-view .border-circle {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.master-person-list-cell .grid-pane .badges {
    -fx-spacing: 10px;
}

.master-person-list-cell .grid-pane .name-label {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MasterToolCell
 */
.master-tool-list-cell .hbox {
    -fx-spacing: 10px;
}

.master-tool-list-cell .vbox {
    -fx-spacing: 5px;
}

.master-tool-list-cell .hbox .vbox .name-label {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MasterRealWorldAppCell
 */
.master-app-list-cell .grid-pane {
    -fx-vgap: 5px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.master-app-list-cell .grid-pane .name-label {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: -fx-accent;
    -fx-font-size: 1.1428em;
}

.master-app-list-cell .grid-pane .summary-markdown-view {
}

/* ----------------------------------------------------------------------------
 * MasterLibraryCell
 */
.master-library-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.master-library-list-cell .grid-pane .image-view {
}

.master-library-list-cell .grid-pane .name-label {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MasterViewHeader
 */
.master-view-header {
    -fx-padding: 10px 10px;
    -fx-spacing: 10px;
}

.master-view-header .back-button {
    -fx-background-color: transparent;
}

.master-view-header .back-button .ikonli-font-icon {
    -fx-icon-color: -grey;
    -fx-icon-size: 24px;
}

.master-view-header .search-field {
    -fx-background-radius: 3px;
    -fx-pref-width: 150px;
}

/* ----------------------------------------------------------------------------
 * DetailBookCell
 */
.detail-book-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.detail-book-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 2px -8px 3px -8px;
    -fx-background-radius: 2px;
}

.detail-book-cell:selected .label {
    -fx-text-fill: white;
}

.detail-book-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.detail-book-cell .hbox {
    -fx-spacing: 20px;
}

.detail-book-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.detail-book-cell .hbox .vbox .title-label {
}

.detail-book-cell .hbox .vbox .subtitle-label {
    -fx-font-family: "Inter Italic";
}

.detail-book-cell .hbox .vbox .description-label {
}

.detail-book-cell .hbox .vbox .authors-label {
    -fx-text-fill: -fx-accent;
}

.detail-book-cell .button-box {
    -fx-spacing: 10px;
}

.detail-book-cell .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* ----------------------------------------------------------------------------
 * DetailBlogCell
 */
.detail-blog-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.detail-blog-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 2px -8px 3px -8px;
    -fx-background-radius: 2px;
}

.detail-blog-cell:hover .label {
    -fx-text-fill: white;
}

.detail-blog-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

/* ----------------------------------------------------------------------------
 * BooksDetailView
 */
.books-detail-view {
}

.books-detail-view .title-section {
}

.books-detail-view .title-section .content {
    -fx-spacing: 20px;
}

.books-detail-view .title-section .content .horizontal-box {
    -fx-spacing: 20px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box {
    -fx-spacing: 10px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .title-label {
    -fx-graphic-text-gap: 10px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .subtitle-label {
    -fx-font-size: 1.1428em;
    -fx-opacity: .8;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .authors-label {
    -fx-text-fill: -fx-accent;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .description-markdown-view {
    -fx-padding: 30px 0px;
}

.books-detail-view .title-section .content .publisher-label,
.books-detail-view .title-section .content .publish-date-label,
.books-detail-view .title-section .content .isbn-label {
    -fx-text-fill: -fx-accent;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .author-title-label {
    -fx-font-size: 1.1428em;
    -fx-font-family: "Inter Bold";
    -fx-padding: 20px 0px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .social-box {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

/* ----------------------------------------------------------------------------
 * LibrariesDetailView
 */
.libraries-detail-view {
}

.libraries-detail-view .list-cell:selected {
    -fx-background-color: white !important;
}

.libraries-detail-view .title-section {
    -fx-spacing: 20px;
}

.libraries-detail-view .title-section .button-box {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.libraries-detail-view .title-section .hbox {
    -fx-spacing: 20px;
}

.libraries-detail-view .title-section .hbox .vbox {
    -fx-spacing: 20px;
}

.libraries-detail-view .title-section .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.libraries-detail-view .title-section .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.libraries-detail-view .title-section .hbox .vbox .description-label {
}

.libraries-detail-view .ensemble-pane {
}

.libraries-detail-view .ensemble-pane .hbox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.libraries-detail-view .ensemble-pane .hbox .label {
    -fx-alignment: left;
    -fx-font-family: "Inter Semi Bold";
}

/* ----------------------------------------------------------------------------
 * ToolsDetailView
 */
.tools-detail-view {
}

.tools-detail-view .list-cell:selected {
    -fx-background-color: white !important;
}

.tools-detail-view .title-section {
    -fx-spacing: 20px;
}

.tools-detail-view .title-section .button-box {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.tools-detail-view .title-section .hbox {
    -fx-spacing: 20px;
}

.tools-detail-view .title-section .hbox .vbox {
    -fx-spacing: 20px;
}

.tools-detail-view .title-section .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.tools-detail-view .title-section .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.tools-detail-view .title-section .hbox .vbox .description-label {
}

/* ----------------------------------------------------------------------------
 * CoordinatesPane
 */
.coordinates-pane .vbox {
    -fx-spacing: 10px;
}

.coordinates-pane .vbox .header {
    -fx-spacing: 20px;
}

.coordinates-pane .vbox .coordinates-label {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-border-color: -mdfx-border-color-1;
    -fx-background-color: oldlace;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 0.5;
    -fx-max-width: infinity;
    -fx-font-family: "JetBrains Mono Regular";
}

/* ----------------------------------------------------------------------------
 * DukeAnimationView
 */
.duke-animation-view {
    -fx-background-color: rgb(68, 131, 160);
    -fx-padding: 50px 50px 100px 50px;
}

.duke-animation-view .start-message {
    -fx-font-family: "Inter Bold";
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-font-size: 1.7142em;
}

/* ----------------------------------------------------------------------------
 * AdvancedListView
 */
.advanced-list-view {
}

.advanced-list-view .pagination-box {
    -fx-alignment: center-left;
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.advanced-list-view .pagination-box .counter-label {
    -fx-text-fill: -fx-accent;
}

.advanced-list-view .pagination-box .page-button {
    -size: 30px;
    -fx-font-family: "Inter Regular";
    -fx-text-fill: -fx-accent;
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 1000px;
    -fx-border-radius: 1000px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.advanced-list-view .pagination-box .page-button:hover {
    -fx-border-color: -fx-accent;
    -fx-text-fill: -fx-accent;
}

.advanced-list-view .pagination-box .page-button.current:hover {
    -fx-background-color: derive(-fx-accent, -20%);
}

.advanced-list-view .pagination-box .page-button.current {
    -size: 30px;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.advanced-list-view .pagination-box .spacer {
    -fx-text-fill: -fx-accent;
}

.advanced-list-view .pagination-box .next-button,
.advanced-list-view .pagination-box .previous-button {
    -fx-padding: 5px;
    -fx-background-color: transparent;
}

.advanced-list-view .pagination-box .next-button .ikonli-font-icon,
.advanced-list-view .pagination-box .previous-button .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -fx-accent;
}

.advanced-list-view .pagination-box .next-button:hover .ikonli-font-icon,
.advanced-list-view .pagination-box .previous-button:hover .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
}

/* -----------------------------------------------------------------------------
 * SectionPane
 */
.section-pane {
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-effect: -drop-shadow-3;
    -fx-padding: 20;
}

.section-pane .extras-box {
    -fx-spacing: 10px;
}

.section-pane .extras-box .more-menu-button {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.section-pane .extras-box .more-menu-button .label {
    -fx-padding: 0;
    -fx-alignment: center-right;
}

.section-pane .extras-box .more-menu-button .arrow-button {
    -fx-fill: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-padding: 0px;
}

.section-pane .extras-box .more-menu-button > .arrow-button > .arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

.section-pane .extras-box .more-menu-button .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
    -fx-icon-size: 24px;
}

.section-pane .placeholder {
    -fx-background-color: transparent;
}

.section-pane .placeholder-label {
    -fx-alignment: center-left;
}

.section-pane:no-border {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0;
    -fx-effect: null;
}

.section-pane > .section-pane-container .top-pane {
    -fx-padding: 0px 0px 0px 0px;
}

.section-pane > .section-pane-container .top-pane .button,
.section-pane > .section-pane-container .top-pane .menu-button {
}

.section-pane > .section-pane-container {
    -fx-spacing: 20;
}

.section-pane > .section-pane-container .title-box {
    -fx-spacing: 5px;
}

.section-pane > .section-pane-container .title-box > .title-label {
}

.section-pane > .section-pane-container .title-box > .subtitle-label {
    -fx-font-style: italic;
    -fx-text-fill: grey;
    -fx-font-size: 0.8571em;
}

.section-pane > .section-pane-container > .children-box {
    -fx-spacing: 20;
}

.section-pane > .section-pane-container > .children-box > .button-bar {
    -fx-spacing: 15px;
}

.section-pane .filter-view .search-field {
    -size: 40px;
    -fx-max-height: -size;
    -fx-pref-height: -size;
    -fx-min-height: -size;
}

.section-pane .filter-view .title {
    -fx-font-size: 1.7142em;
    -fx-font-family: "Inter Semi Bold";
}

.section-pane .filter-view .subtitle {
    -fx-font-size: 0.8571em;
    -fx-opacity: .8;
}

.section-pane .list-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
}

.section-pane .list-cell:filled {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.section-pane .list-cell:selected {
    -fx-background-color: rgba(230, 230, 230);
}

.section-pane .list-cell:selected .label {
    -fx-text-fill: black;
}

.section-pane .list-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.section-pane .pretty-list-view .scroll-bar:vertical {
    -fx-translate-x: 15px;
}

.section-pane .list-cell:selected .button {
}

.section-pane .list-cell:selected .button .ikonli-font-icon {
}

.section-pane .search-field {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 3px;
    -fx-padding: 0px 5px;
    -fx-prompt-text-fill: white;
    -fx-pref-height: 20px;
}

.section-pane .search-field .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 18px;
}

/* ---------------------------------------------------------------
 * TabPane
 */

.jfxcentral-tab-pane {
    -fx-padding: 0;
}

.jfxcentral-tab-pane .tab-header {
    -fx-background-color: lightgrey;
}

.jfxcentral-tab-pane .tab-content {
    -fx-padding: 20;
}

.jfxcentral-tab-pane .tab {
    -fx-alignment: center-left;
    -fx-pref-height: 60;
    -fx-padding: 20;
    -fx-font-size: 18;
    -fx-font-family: "Inter Semi Bold";
    -fx-background-color: lightgrey;
    -fx-text-fill: grey;
    -fx-graphic-text-gap: 10px;
}

.jfxcentral-tab-pane .tab:selected {
    -fx-background-color: white;
    -fx-text-fill: grey;
}

.jfxcentral-tab-pane .tab:hover {
    -fx-background-color: rgba(255, 255, 255, .64);
}

/* -----------------------------------------------------------------------------
 * SectionPaneWithTabs
 */
.section-pane-with-tabs {
    -fx-padding: 0;
}

/* -----------------------------------------------------------------------------
 * DetailLibraryCell
 */
.detail-library-cell .outer-box {
    -fx-spacing: 10px;
}

.detail-library-cell .outer-box .hbox {
    -fx-spacing: 20px;
}

.detail-library-cell .outer-box .hbox .vbox {
    -fx-spacing: 10px;
}

.detail-library-cell .outer-box .hbox .vbox .title-label {
    -fx-graphic-text-gap: 20px;
}

.detail-library-cell .outer-box .hbox .vbox .summary-label {
}

.detail-library-cell .outer-box .button-box {
    -fx-spacing: 10px;
}

.detail-library-cell .outer-box .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* -----------------------------------------------------------------------------
 * DetailToolCell
 */
.detail-tool-cell .outer-box {
    -fx-spacing: 10px;
}

.detail-tool-cell .outer-box .hbox {
    -fx-spacing: 20px;
}

.detail-tool-cell .outer-box .hbox .vbox {
    -fx-spacing: 10px;
}

.detail-tool-cell .outer-box .hbox .vbox .title-label {
    -fx-graphic-text-gap: 20px;
}

.detail-tool-cell .outer-box .hbox .vbox .summary-label {
}

.detail-tool-cell .outer-box .button-box {
    -fx-spacing: 10px;
}

.detail-tool-cell .outer-box .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* -----------------------------------------------------------------------------
 * ThumbnailScrollPane
 */
.thumbnail-scroll-pane {
    -fx-effect: innershadow(gaussian, grey, 10, 0, 0, 0);
}

.thumbnail-scroll-pane .scroll-bar {
    -fx-translate-y: -5px;
    -fx-scale-x: .98;
}

.thumbnail-scroll-pane .thumbnail-box {
    -fx-spacing: 5px;
    -fx-background-color: rgb(245, 245, 245);
    -fx-background-radius: 3px;
    -fx-padding: 10px;
    -fx-alignment: center-left;
}

.thumbnail-scroll-pane .thumbnail-box .image-wrapper {
    -fx-padding: 10px 10px 10px 0px;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-style: dashed;
    -fx-border-color: lightgrey;
    -fx-border-insets: 0px 0px 10px 0px;
}

.thumbnail-scroll-pane .thumbnail-box .image-wrapper.last {
    -fx-border-width: 0px;
}

/* -----------------------------------------------------------------------------
 * LicenseLabel
 */
.license-label {
    -fx-font-size: 0.5714em;
    -fx-padding: 0px 3px;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-accent;
    -fx-opacity: .5;
}

.license-label .ikonli-font-icon {
    -fx-icon-color: white;
}

/* -----------------------------------------------------------------------------
 * BooksMasterView
 */
.books-master-view .list-view {
    /*-fx-pref-width: 150px;*/
}

/* -----------------------------------------------------------------------------
 * MasterBookCell
 */
.master-book-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

/* ----------------------------------------------------------------------------
 * DetailPullRequestCell
 */
.detail-pull-request-cell {
    -fx-padding: 10px 0px;
}

.detail-pull-request-cell .hbox {
    -fx-spacing: 20px;
}

.detail-pull-request-cell .hbox .vbox {
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}

.detail-pull-request-cell .hbox .photo-view {
    -size: 32px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.detail-pull-request-cell .hbox .photo-view .border-circle {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}


.detail-pull-request-cell .label-box {
    -fx-spacing: 5px;
}

.detail-pull-request-cell .pull-request-label {
    -fx-text-fill: rgba(0, 0, 0, .6);
    -fx-padding: 2px 10px;
    -fx-background-radius: 1000px;
    -fx-border-radius: 1000px;
    -fx-font-family: "Inter Bold";
    -fx-font-size: 0.8571em;
}

.detail-pull-request-cell .title-label {
    -fx-font-family: "Inter Semi Bold";
    -fx-graphic-text-gap: 10px;
}

.detail-pull-request-cell .summary-label {
    -fx-opacity: .8;
}

.detail-pull-request-cell .status-label {
    -size: 70px;
    -fx-font-family: "Inter Semi Bold";
    -fx-background-radius: 3px;
    -fx-text-fill: white;
    -fx-padding: 2px 10px;
    -fx-min-width: -size;
    -fx-pref-width: -size;
    -fx-max-width: -size;
    -fx-alignment: center;
}

.detail-pull-request-cell .status-label.open {
    -fx-background-color: -fx-accent;
}

.detail-pull-request-cell .status-label.closed {
    -fx-background-color: -green;
}

/* ----------------------------------------------------------------------------
 * Pretty List View
 */
.pretty-list-view {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-width: 0;
}

.pretty-list-view > .virtual-flow > .scroll-bar,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-button,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.pretty-list-view .pretty-scroll-bar:vertical .thumb {
    -fx-background-insets: 0;
}

.pretty-list-view .pretty-scroll-bar:horizontal .thumb {
    -fx-background-insets: 0;
}

.pretty-list-view .pretty-scroll-bar .decrement-arrow,
.pretty-list-view .pretty-scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.pretty-list-view .pretty-scroll-bar {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
    -fx-padding: 0;
}

.pretty-list-view .pretty-scroll-bar .thumb {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

/* ----------------------------------------------------------------------------
 * Pretty ScrollPane
 */
.pretty-scroll-pane {
    -fx-padding: 0;
    -fx-background-insets: 0; /* no focus border */
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.pretty-scroll-pane .scroll-to-top-button {
    -size: 64px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-background-radius: 1000px;
    -fx-effect: -drop-shadow-2;
}

.pretty-scroll-pane .scroll-to-top-button .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 32px;
    -fx-icon-code: mdi-format-vertical-align-top;
}

.pretty-scroll-pane .scroll-to-top-button:hover .ikonli-font-icon {
    -fx-icon-color: white;
}

.pretty-scroll-pane .scroll-to-top-button:hover .ikonli-font-icon {
}

.pretty-scroll-pane .viewport {
}

.pretty-scroll-pane .viewport .clipped-container {
}

.pretty-scroll-pane .shadow {
    -fx-pref-height: 10;
    -fx-background-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .75), 20, 0.19, 0, 6);
}

.pretty-scroll-pane .scroll-bar {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

.pretty-scroll-pane .scroll-bar .thumb {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

.pretty-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-insets: 0;
}

.pretty-scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0;
}

.pretty-scroll-pane .scroll-bar .increment-button,
.pretty-scroll-pane .scroll-bar .increment-arrow,
.pretty-scroll-pane .scroll-bar .decrement-button,
.pretty-scroll-pane .scroll-bar .decrement-arrow {
    -fx-pref-width: 0 !important;
    -fx-pref-height: 0 !important;
}

/* ----------------------------------------------------------------------------
 * ResponsiveBox
 */
.responsive-box {
    -fx-spacing: 20px;
}

.responsive-box .hbox {
    -fx-spacing: 10px;
}

.responsive-box .hbox .vbox {
    -fx-spacing: 10px;
}

.responsive-box .button-box {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.responsive-box .image-wrapper {
}

.responsive-box .title-label {
    -fx-font-size: 1.1428em;
    -fx-content-display: right;
}

.responsive-box .photo-view {
    -size: 120px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

/* ----------------------------------------------------------------------------
 * DetailTutorialCell
 */
.detail-tutorial-cell .commercial-label {
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-border-radius: 3px;
    -fx-padding: 0px 5px;
    -fx-font-size: 10px;
}

.detail-tutorial-cell .title-label {
    -fx-content-display: right;
    -fx-graphic-text-gap: 10px;
}

/* ----------------------------------------------------------------------------
 * DetailPersonCell
 */
.detail-person-cell .hbox {
    -fx-spacing: 20px;
}

.detail-person-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.detail-person-cell .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.detail-person-cell .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.detail-person-cell .hbox .vbox .social-box {
    -fx-spacing: 10px;
}

.detail-person-cell .hbox .photo-view {
    -size: 64px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

/* ----------------------------------------------------------------------------
 * DialogPane
 */
.root-pane > .dialog-panex > .content-pane {
    -fx-border-color: white;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: rgba(0, 0, 0, 1) !important;
    -fx-effect: -drop-shadow-3;
    -fx-min-width: 350px;
    -fx-min-height: 250px;
}

.root-pane > .dialog-panex > .content-pane > .close-button {
    -fx-background-radius: 3px;
    -fx-background-color: transparent !important;
    -fx-background-insets: 0px;
    -fx-padding: 2px;
    -size: 50px !important;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-translate-x: -10px;
    -fx-translate-y: 10px;
    -fx-cursor: hand;
}

.root-pane > .dialog-panex > .content-pane > .close-button:hover {
    -fx-background-color: transparent !important;
    -fx-opacity: 1 !important;
}

.root-pane .dialog-panex > .content-pane > .close-button:hover .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
}

.root-pane > .dialog-panex > .content-pane > .close-button:pressed {
    -fx-background-color: transparent;
}

.root-pane .dialog-panex > .content-pane > .close-button .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 48px !important;
}

.root-pane > .dialog-panex .pagination .pagination-control {
    -fx-pref-height: 0px;
    -fx-opacity: 0;
}

/* ----------------------------------------------------------------------------
 * HomeDetailView
 */
.home-detail-view .duke-wrapper {
    -fx-padding: 50px 0px 0px 0px;
}

.home-detail-view .title {
}

.home-detail-view .contact-markdown-view {
    -fx-line-spacing: 2px;
    -fx-padding: 0px 0px 20px 0px;
}

.home-detail-view .contact-markdown-view .markdown-text {
}

.home-detail-view .contact-markdown-view * {
    -fx-alignment: top-left;
    -fx-text-alignment: left;
}

.home-detail-view .footer {
    -fx-spacing: 20px;
}

.home-detail-view .contact-markdown-view .markdown-paragraph-list {
    -fx-alignment: top-center;
    -fx-spacing: 0px;
}

.home-detail-view .social-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.home-detail-view .social-pane .social-label {
    -fx-cursor: hand;
    -fx-text-fill: -fx-accent;
}

.home-detail-view .social-pane .social-label:hover {
    -fx-underline: true;
}

.home-detail-view .social-pane .icon-wrapper {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000px;
    -fx-padding: 10px;
}

.home-detail-view .social-pane .icon-wrapper .ikonli-font-icon {
    -fx-cursor: hand;
    -fx-icon-color: white;
    -fx-icon-size: 18px;
}

/* ----------------------------------------------------------------------------
 * DetailRecentItemList
 */
.detail-recent-item-cell,
.detail-recent-item-cell.last {
    -fx-padding: 5px 10px 5px 5px;
}

.detail-recent-item-cell .hbox {
    -fx-alignment: center-left;
    -fx-spacing: 20px;
}

.detail-recent-item-cell .hbox .icon-wrapper {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 2px;
}

.detail-recent-item-cell .hbox .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}

.detail-recent-item-cell .hbox .title-label {
    -fx-font-family: "Inter Semi Bold";
}

.home-detail-view-view .recent-item-cell .hbox .subtitle-label {
    -fx-opacity: .8;
}

.detail-recent-item-cell .hbox .date-label {
}

.detail-recent-item-cell .hbox .vbox {
}

/* ----------------------------------------------------------------------------
 * DetailNewsCell
 */
.detail-news-cell {
}

.home-detail-view .list-view .news-cell .hbox {
    -fx-padding: 10px;
}

.detail-news-cell .banner-image-wrapper {
    -fx-border-color: -fx-accent;
    -fx-border-width: 2px;
}

.detail-news-cell .title-label {
}

.detail-news-cell .subtitle-label {
    -fx-font-style: italic;
}

.detail-news-cell .author-label {
    -fx-font-style: italic;
    -fx-opacity: .8;
}

.detail-news-cell .text-label {
}

/* ----------------------------------------------------------------------------
 * HeaderPane
 */
.header-pane {
    -fx-spacing: 10px;
    -fx-padding: 0px 20px 0px 180px;
    -fx-pref-height: 75px;
    -fx-background-color: derive(-fx-accent, +20%);
    -fx-border-color: rgba(0, 0, 0, .05);
    -fx-border-width: 0px 0px 1px 0px;
}

.header-pane .title {
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 48px;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-effect: -drop-shadow-1;
}

.header-pane .title-shadow {
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 48px;
    -fx-text-fill: derive(-fx-accent, -50%);
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
    -fx-effect: -drop-shadow-1;
}

/* ----------------------------------------------------------------------------
 * BlogsMasterView
 */
.blogs-master-view {
}

.blogs-master-view .button-wrapper {
    -fx-padding: 0px 10px;
}

/* ----------------------------------------------------------------------------
 * MasterBlogCell
 */
.master-blog-cell .label {
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * BlogsDetailView
 */
.blogs-detail-view .title-section .hbox {
    -fx-spacing: 20px;
}

.blogs-detail-view .title-section .hbox .photo-view {
    -size: 100px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.blogs-detail-view .title-section .hbox .vbox {
    -fx-spacing: 20px;
}

.blogs-detail-view .title-section .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.blogs-detail-view .title-section .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.blogs-detail-view .title-section .hbox .vbox .description-label {
}

.blogs-detail-view .title-section .hbox .vbox .social-box {
    -fx-spacing: 10px;
}

/* ----------------------------------------------------------------------------
 * DetailPostCell
 */
.detail-post-cell {
    -fx-cursor: hand;
    -fx-padding: 10px 10px 10px 0px;
}

.detail-post-cell .hbox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

.detail-post-cell .title-label {
    -fx-font-family: "Inter Semi Bold";
}

.detail-post-cell:hover .title-label {
    -fx-underline: true;
}

/* TODO: will we show the blog name or not? */
.detail-post-cell .blog-label {
    -size: 0px;
    -fx-min-width: -size;
    -fx-pref-width: -size;
    -fx-max-width: -size;
    -fx-opacity: .7;
}

/* ----------------------------------------------------------------------------
 * DetailCompanyCell
 */
.detail-company-cell {
    -fx-padding: 0px 30px 0px 0px;
}

/* -----------------------------------------------------------------------------------------------------
 * OmniBox
 */
.omnibox-text-field {
    -fx-font-family: "Inter Semi Bold";
    -fx-background-color: white;
    -fx-padding: 0 0 0 10;
    -fx-pref-width: 300;
    -fx-background-radius: 1000px;
    -fx-text-fill: -fx-accent;
    -fx-background-insets: 0px;
}

.omnibox-text-field:focused {
    -fx-background-insets: 0px;
    -fx-background-color: white;
}

.omnibox-text-field .right-pane {
    -fx-padding: 0;
}

.omnibox-text-field > * > * > .toggle-button {
    -fx-background-color: derive(-fx-accent, -20%);
    -fx-background-insets: 0px -2px 0px 0px; /* otherwise we see some white bg from text field */
    -fx-background-radius: 0px 1000px 1000px 0px;
    -fx-max-height: infinity;
}

.omnibox-text-field > * > * > .toggle-button:selected {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.omnibox-text-field .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
    -fx-icon-size: 18px;
    -fx-translate-x: 5px;
}

.omnibox {
    -fx-background-color: white;
    -fx-border-color: -fx-accent;
    -fx-border-width: 1px;
    -fx-effect: -drop-shadow-1;
}

.omnibox > .text-field {
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-pref-height: 30;
    -fx-border-color: transparent transparent grey transparent;
    -fx-prompt-text-fill: grey;
}

.omnibox > .label {
    -fx-alignment: center;
    -fx-background-color: lightgray;
}

.omnibox .search-result-list-view {
}

.omnibox .search-result-list-view:focused {
}

.omnibox .search-result-list-view:focused {
}

.omnibox .search-result-list-view .cell {
    -fx-background-color: white;
    -fx-padding: 5px 10px 5px 5px;
    -fx-spacing: 5;
}

.omnibox .search-result-list-view .cell .label {
    -fx-text-alignment: left;
    -fx-alignment: top-left;
}

.omnibox .search-result-list-view .cell:focused {
    -fx-background-color: white;
}

.omnibox .search-result-list-view .cell:selected .label {
    -fx-text-fill: white;
}

.omnibox .search-result-list-view .search-result-list-cell .hbox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

.omnibox .search-result-list-view .search-result-list-cell .hbox .icon-wrapper {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 2px;
}

.omnibox .search-result-list-view .search-result-list-cell .hbox .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}

.omnibox .search-result-list-view .search-result-list-cell .hbox .title-label {
    -fx-font-family: "Inter Bold";
}

.omnibox .search-result-list-view .search-result-list-cell .hbox .subtitle-label {
    -fx-opacity: .8;
}

.omnibox .search-result-list-view .search-result-list-cell .hbox .date-label {
}

.omnibox .search-result-list-view .search-result-list-cell .hbox .vbox {
}

/* ----------------------------------------------------------------------------
 * FontSizeSelector
 */
.font-size-selector {
    -fx-padding: 0px 10px 0px 10px;
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

.font-size-selector .toggle-button,
.font-size-selector .toggle-button:hover,
.font-size-selector .toggle-button:pressed {
    -fx-background-radius: 0px;
    -fx-background-color: derive(-fx-accent, +20%);
    -fx-padding: 0.3571em;
}

.font-size-selector .toggle-button:selected {
    -fx-background-color: white, derive(-fx-accent, +20%);
    -fx-background-insets: 0em, 0em 0em 0.2142em 0em;
}

.font-size-icon {
    -fx-icon-color: white;
}

.font-size-icon.normal {
    -fx-icon-color: white;
    -fx-icon-size: 24px;
}

.font-size-icon.smaller {
    -fx-icon-color: white;
    -fx-icon-size: 16px;
}

.font-size-icon.larger {
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}