@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans Regular";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans Italic";
    src: url("fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans SemiBold";
    src: url("fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-face-name: "Open Sans SemiBoldItalic";
    src: url("fonts/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Pattaya";
    font-face-name: "Pattaya-Regular";
    src: url("fonts/Pattaya-Regular.ttf");
}


@font-face {
    font-family: "JetBrains Mono";
    font-face-name: "JetBrains Mono Regular";
    src: url("fonts/JetBrainsMono-Regular.ttf");
}

.root {
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans";
    -fx-accent: rgb(68, 131, 160);

    -light-grey: rgba(239, 242, 245);
    -light-blue: rgba(224, 229, 234);
    -red: rgba(250, 80, 80, 1);
    -green: forestgreen;
    -grey: rgba(0, 0, 0, .4);
    -drop-shadow-1: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
    -drop-shadow-2: dropshadow(gaussian, rgba(0, 0, 0, .26), 15, 0.16, -1, 4);
    -drop-shadow-3: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);

    -mdfx-link-color: -fx-accent;
    -mdfx-border-color-1: #888;

    -mdfx-font-color: black;
    -mdfx-bg-color-1: #ccc;
    -mdfx-bg-color-2: #ddd;
    -mdfx-bg-color-3: #eee;

    -fx-font-smoothing-type: lcd;

    -white-button-text-color: rgb(110, 110, 110);
    -white-button-text-color-hover: rgb(255, 255, 255);
    -white-button-text-color-pressed: white;

    -white-button-background-color: rgb(230, 230, 230);
    -white-button-background-color-hover: rgb(150, 150, 150);
    -white-button-background-color-pressed: -fx-accent;
}

.pagination .page {
    -fx-background-color: transparent;
}

.advanced-list-cell {
}

.header1 {
    -fx-font-size: 24px;
    -fx-font-family: "Open Sans SemiBold";
}

.header2 {
    -fx-font-size: 18px;
    -fx-font-family: "Open Sans SemiBold";
}

.header3 {
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans SemiBold";
}

.hyperlink {
    -fx-text-fill: white;
    -fx-font-family: "Open Sans SemiBold";
    -fx-underline: true;
    -fx-padding: 2px 5px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 2px;
}

.check-box > .box {
    -fx-background-color: -fx-accent;
}

.check-box > .box > .mark {
    -fx-background-color: white;
}

.check-box > .box > .mark {
    -fx-background-color: transparent;
}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

.button {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
    -fx-font-family: "Open Sans Bold";
}

.button:hover {
    -fx-background-color: derive(-fx-accent, -20%);
}

.button:pressed {
    -fx-background-color: derive(-fx-accent, +20%);
    -fx-text-fill: derive(-fx-accent, +40%);
}

.button .ikonli-font-icon {
    -fx-icon-color: white;
}

.button:hover .ikonli-font-icon {
}

.button:pressed .ikonli-font-icon {
    -fx-icon-color: derive(-fx-accent, +40%);
}

.white-button {
    -fx-border-color: -white-button-text-color;
    -fx-border-radius: 2px;
    -fx-background-color: -white-button-background-color;
    -fx-text-fill: -white-button-text-color;
    -fx-font-family: "Open Sans Bold";
}

.white-button:hover {
    -fx-background-color: -white-button-background-color-hover;
    -fx-text-fill: -white-button-text-color-hover;
}

.white-button:pressed {
    -fx-background-color: -white-button-background-color-pressed;
    -fx-text-fill: -white-button-text-color-pressed;
}

.white-button .ikonli-font-icon {
    -fx-icon-color: -white-button-text-color;
}

.white-button:hover .ikonli-font-icon {
    -fx-icon-color: -white-button-text-color-hover;
}

.white-button:pressed .ikonli-font-icon {
    -fx-icon-color: -white-button-text-color-pressed;
}

.radio-button > .radio {
    -fx-background-insets: 0px;
    -fx-background-color: -fx-accent;
    -fx-border-width: 0px;
}

.radio-button:selected > .radio > .dot {
    -fx-background-insets: 0px;
    -fx-background-color: white;
}

.combo-box-base {
    -fx-background-color: -fx-accent;
}

.combo-box-base > * > .text {
    -fx-font-family: "Open Sans Bold";
    -fx-fill: white;
}

.combo-box-base .arrow {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 4px;
}

.menu-button > .label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: white;
}

.menu-button .menu-item {
    -fx-font-family: "Open Sans SemiBold";
}

.menu-button .arrow {
    -fx-background-color: white;
}

.chip-view {
    -fx-font-family: "Open Sans SemiBold";
}

.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-arrow {
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.scroll-bar:horizontal .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-arrow {
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.root-wrapper {
    /*-fx-background-color: derive(-fx-accent, +80%);*/
    -fx-background-color: grey;
}

.root-pane {
    -fx-effect: -drop-shadow-3;
}

.root-pane .top-spacer {
    /* we wil need it when we run on iPad */
    -fx-pref-height: 0px;
    -fx-background-color: -light-blue;
}

.top-menu {
    -fx-spacing: 5px;
    -fx-padding: 10px 10px 10px 0px;
    -fx-background-color: -light-blue;
    -fx-border-color: rgba(0, 0, 0, .05);
    -fx-border-width: 0px 1px 0px 0px;
}

.top-menu .toggle-button {
    -fx-padding: 10px 30px 10px 15px;
    -fx-background-radius: 0px 4px 4px 0px;
    -fx-background-padding: 0px;
    -fx-background-insets: 0px 5px 0px 0px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 3px 0px 3px;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Open Sans SemiBold";
    -fx-opacity: .6;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-graphic-text-gap: 10px;
}

.top-menu:expanded .toggle-button {
}

.top-menu .toggle-button:hover,
.top-menu .toggle-button:hover:selected {
    -fx-opacity: 1;
    -fx-background-color: -red;
    -fx-border-color: transparent transparent transparent derive(-red, -20%);
    -fx-text-fill: white;
}

.top-menu .toggle-button:pressed,
.top-menu .toggle-button:pressed:selected {
    -fx-opacity: 1;
    -fx-background-color: rgba(250, 0, 20, .5);
}

.top-menu .toggle-button:hover .icon-wrapper .ikonli-font-icon,
.top-menu .toggle-button:hover:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-color: white;
}

.top-menu .toggle-button:selected {
    -fx-opacity: 1;
    -fx-background-padding: 0px;
    -fx-background-color: -fx-accent;
    -fx-border-width: 0px 3px 0px 3px;
    -fx-border-color: transparent transparent transparent derive(-fx-accent, -20%);
    -fx-text-fill: white;
}

.top-menu .toggle-button .icon-wrapper {
    -fx-pref-width: 32px;
}

.top-menu .toggle-button .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: black;
}

.top-menu .toggle-button:selected .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}

.top-menu .duke {
    -fx-image: url("duke.png");
}

.detail-scroll-pane {
    -fx-padding: 20px;
    -fx-background-color: -light-grey;
}

.champion-image {
    -fx-image: url("champion-small.png");
}

.rockstar-image {
    -fx-image: url("rockstar-small.png");
}

/* ----------------------------------------------------------------------------
 * MasterView
 */
.master-view {
    -fx-background-color: -light-blue;
}

.master-view .list-view {
    -fx-background-color: -light-blue;
    -fx-background-insets: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0px;
}

.master-view .list-view .list-cell {
    -fx-padding: 10px 20px;
    -fx-background-color: -light-blue;
}

.master-view .list-view .list-cell:selected {
    -fx-background-color: -light-grey;
}

/* ----------------------------------------------------------------------------
 * DetailView
 */
.detail-view {
    -fx-background-color: -light-grey;
    -fx-spacing: 20px;
}

/* ----------------------------------------------------------------------------
 * PeopleMasterView
 */
.people-master-view .person-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.people-master-view .person-list-cell .rockstar-label,
.people-master-view .person-list-cell .champion-label {
    -fx-font-size: 8;
    -fx-padding: 0px 3px;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-accent;
    -fx-opacity: .5;
}

.people-master-view .person-list-cell .grid-pane .photo-view {
    -size: 30px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.people-master-view .person-list-cell .grid-pane .photo-view .border-circle {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.people-master-view .person-list-cell .grid-pane .badges {
    -fx-spacing: 10px;
}

.people-master-view .person-list-cell .grid-pane .name-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * ToolsMasterView
 */
.tools-master-view .tool-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.tools-master-view .tool-list-cell .grid-pane .name-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * RealWorldAppsMasterView
 */
.real-world-master-view .app-list-cell .grid-pane {
    -fx-vgap: 5px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.real-world-master-view .app-list-cell .grid-pane .name-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

.real-world-master-view .app-list-cell .grid-pane .summary-markdown-view {
}

/* ----------------------------------------------------------------------------
 * LibrariesMasterView
 */

.libraries-master-view .list-view .library-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

.libraries-master-view .list-view .library-list-cell .grid-pane .image-view {
}

.libraries-master-view .list-view .library-list-cell .grid-pane .name-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * MasterViewHeader
 */
.master-view-header {
    -fx-padding: 10px 10px;
    -fx-spacing: 10px;
}

.master-view-header .back-button {
    -fx-background-color: transparent;
}

.master-view-header .back-button .ikonli-font-icon {
    -fx-icon-color: -grey;
    -fx-icon-size: 24px;
}

.master-view-header .search-field {
    -fx-background-radius: 4px;
    -fx-pref-width: 150px;
}

/* ----------------------------------------------------------------------------
 * PeopleDetailView
 */
.people-detail-view {
}

.people-detail-view .list-cell:selected {
    -fx-background-color: white !important;
}

.people-detail-view .title-section .hbox {
    -fx-spacing: 20px;
}

.people-detail-view .title-section .hbox .photo-view {
    -size: 120px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.people-detail-view .title-section .hbox .vbox {
    -fx-spacing: 20px;
}

.people-detail-view .title-section .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.people-detail-view .title-section .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.people-detail-view .title-section .hbox .vbox .description-label {
}

.people-detail-view .title-section .hbox .vbox .social-box {
    -fx-spacing: 10px;
}

/* Book Cell */

.people-detail-view .book-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.people-detail-view .book-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 2px -8px 3px -8px;
    -fx-background-radius: 2px;
}

.people-detail-view .book-cell:selected .label {
    -fx-text-fill: white;
}

.people-detail-view .book-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.people-detail-view .book-cell .hbox {
    -fx-spacing: 20px;
}

.people-detail-view .book-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.people-detail-view .book-cell .hbox .vbox .title-label {
}

.people-detail-view .book-cell .hbox .vbox .subtitle-label {
    -fx-font-family: "Open Sans Italic";
}

.people-detail-view .book-cell .hbox .vbox .description-label {
}

.people-detail-view .book-cell .hbox .vbox .authors-label {
    -fx-text-fill: -fx-accent;
}

.people-detail-view .book-cell .button-box {
    -fx-spacing: 10px;
}

.people-detail-view .book-cell .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* Blog Cell */

.people-detail-view .blog-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.people-detail-view .blog-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 2px -8px 3px -8px;
    -fx-background-radius: 2px;
}

.people-detail-view .blog-cell:selected .label {
    -fx-text-fill: white;
}

.people-detail-view .blog-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.people-detail-view .blog-cell .hbox {
    -fx-spacing: 20px;
}

.people-detail-view .blog-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.people-detail-view .blog-cell .hbox .vbox .title-label {
}

.people-detail-view .blog-cell .hbox .vbox .description-label {
}

.people-detail-view .blog-cell .button-box {
    -fx-spacing: 10px;
}

.people-detail-view .blog-cell .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* ----------------------------------------------------------------------------
 * BooksDetailView
 */
.books-detail-view {
}

.books-detail-view .title-section {
}

.books-detail-view .title-section .content {
    -fx-spacing: 20px;
}

.books-detail-view .title-section .content .horizontal-box {
    -fx-spacing: 20px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box {
    -fx-spacing: 10px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .title-label {
    -fx-graphic-text-gap: 10px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .subtitle-label {
    -fx-font-size: 16px;
    -fx-opacity: .8;
    -fx-translate-y: -10px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .authors-label {
    -fx-text-fill: -fx-accent;
    -fx-translate-y: -10px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .description-markdown-view {
    -fx-padding: 30px 0px;
}

.books-detail-view .title-section .content .publisher-label,
.books-detail-view .title-section .content .publish-date-label,
.books-detail-view .title-section .content .isbn-label {
    -fx-text-fill: -fx-accent;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .author-title-label {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans Bold";
    -fx-padding: 20px 0px;
}

.books-detail-view .title-section .content .horizontal-box .vertical-box .social-box {
    -fx-spacing: 10px;
}

/* ----------------------------------------------------------------------------
 * LibrariesDetailView
 */
.libraries-detail-view {
}

.libraries-detail-view .list-cell:selected {
    -fx-background-color: white !important;
}

.libraries-detail-view .title-section .hbox {
    -fx-spacing: 20px;
}

.libraries-detail-view .title-section .hbox .photo-view {
    -size: 100px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.libraries-detail-view .title-section .hbox .vbox {
    -fx-spacing: 20px;
}

.libraries-detail-view .title-section .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.libraries-detail-view .title-section .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.libraries-detail-view .title-section .hbox .vbox .description-label {
}

.libraries-detail-view .title-section .hbox .vbox .social-box {
    -fx-spacing: 10px;
}

.libraries-detail-view .book-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.libraries-detail-view .book-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 2px -8px 3px -8px;
    -fx-background-radius: 2px;
}

.libraries-detail-view .book-cell:selected .label {
    -fx-text-fill: white;
}

.libraries-detail-view .book-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.libraries-detail-view .book-cell .hbox {
    -fx-spacing: 20px;
}

.libraries-detail-view .book-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.libraries-detail-view .book-cell .hbox .vbox .title-label {
}

.libraries-detail-view .book-cell .hbox .vbox .subtitle-label {
    -fx-font-family: "Open Sans Italic";
}

.libraries-detail-view .book-cell .hbox .vbox .description-label {
}

.libraries-detail-view .book-cell .hbox .vbox .authors-label {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-accent;
}

.libraries-detail-view .book-cell .button-box {
    -fx-spacing: 10px;
}

.libraries-detail-view .book-cell .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

.libraries-detail-view .coordinates-pane .vbox {
    -fx-spacing: 10px;
}

.libraries-detail-view .coordinates-pane .vbox .header {
    -fx-spacing: 20px;
}

.libraries-detail-view .coordinates-pane .vbox .coordinates-label {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-border-color: -mdfx-border-color-1;
    -fx-background-color: oldlace;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 0.5;
    -fx-max-width: infinity;
    -fx-font-family: "JetBrains Mono Regular";
}

/* ----------------------------------------------------------------------------
 * DukeAnimationView
 */
.duke-animation-view {
    -fx-background-color: rgb(68, 131, 160);
    -fx-padding: 50px 50px 100px 50px;
}

.duke-animation-view .start-message {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-font-size: 24px;
}

/* ----------------------------------------------------------------------------
 * AdvancedListView
 */
.advanced-list-view {
}

.advanced-list-view .pagination-box {
    -fx-alignment: center-left;
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.advanced-list-view .pagination-box .counter-label {
    -fx-text-fill: -fx-accent;
}

.advanced-list-view .pagination-box .page-button {
    -size: 30px;
    -fx-font-family: "Open Sans Regular";
    -fx-text-fill: -fx-accent;
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 1000px;
    -fx-border-radius: 1000px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.advanced-list-view .pagination-box .page-button:hover {
    -fx-border-color: -fx-accent;
    -fx-text-fill: -fx-accent;
}

.advanced-list-view .pagination-box .page-button.current:hover {
    -fx-background-color: derive(-fx-accent, -20%);
}

.advanced-list-view .pagination-box .page-button.current {
    -size: 30px;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.advanced-list-view .pagination-box .spacer {
    -fx-text-fill: -fx-accent;
}

.advanced-list-view .pagination-box .next-button,
.advanced-list-view .pagination-box .previous-button {
    -fx-padding: 5px;
    -fx-background-color: transparent;
}

.advanced-list-view .pagination-box .next-button .ikonli-font-icon,
.advanced-list-view .pagination-box .previous-button .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -fx-accent;
}

.advanced-list-view .pagination-box .next-button:hover .ikonli-font-icon,
.advanced-list-view .pagination-box .previous-button:hover .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
}

/* -----------------------------------------------------------------------------
 * SectionPane
 */
.section-pane {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-border-radius: 4px;
    -fx-effect: -drop-shadow-3;
    -fx-padding: 20;
}

.section-pane .extras-box {
    -fx-spacing: 10px;
}

.section-pane .extras-box .more-menu-button {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.section-pane .extras-box .more-menu-button .label {
    -fx-padding: 0;
    -fx-alignment: center-right;
}

.section-pane .extras-box .more-menu-button .arrow-button {
    -fx-fill: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-padding: 0px;
}

.section-pane .extras-box .more-menu-button > .arrow-button > .arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

.section-pane .extras-box .more-menu-button .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
    -fx-icon-size: 24px;
}

.section-pane .placeholder {
    -fx-background-color: transparent;
}

.section-pane .placeholder-label {
    -fx-alignment: center-left;
}

.section-pane:no-border {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0;
    -fx-effect: null;
}

.section-pane > .section-pane-container .top-pane {
    -fx-padding: 0px 0px 0px 0px;
}

.section-pane > .section-pane-container .top-pane .button,
.section-pane > .section-pane-container .top-pane .menu-button {
}

.section-pane > .section-pane-container {
    -fx-spacing: 20;
}

.section-pane > .section-pane-container .title-box > .title-label {
}

.section-pane > .section-pane-container .title-box > .subtitle-label {
    -fx-text-fill: grey;
    -fx-font-size: 14px;
}

.section-pane > .section-pane-container > .children-box {
    -fx-spacing: 20;
}

.section-pane > .section-pane-container > .children-box > .button-bar {
    -fx-spacing: 15px;
}

.section-pane .filter-view .search-field {
    -size: 40px;
    -fx-max-height: -size;
    -fx-pref-height: -size;
    -fx-min-height: -size;
}

.section-pane .filter-view .title {
    -fx-font-weight: bold;
}

.section-pane .filter-view .subtitle {
    -fx-opacity: .8;
}

.section-pane .list-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
}

.section-pane .list-cell:filled {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.section-pane .list-cell:selected {
    -fx-background-color: rgba(230, 230, 230);
}

.section-pane .list-cell:selected .label {
    -fx-text-fill: black;
}

.section-pane .list-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.section-pane .pretty-list-view .scroll-bar:vertical {
    -fx-translate-x: 15px;
}

.section-pane .list-cell:selected .button {
}

.section-pane .list-cell:selected .button .ikonli-font-icon {
}

.section-pane .search-field {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 4px;
    -fx-padding: 0px 5px;
    -fx-prompt-text-fill: white;
    -fx-pref-height: 20px;
}

.section-pane .search-field .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 18px;
}

/* ---------------------------------------------------------------
 * TabPane
 */

.jfxcentral-tab-pane {
    -fx-padding: 0;
}

.jfxcentral-tab-pane .tab-header {
    -fx-background-color: lightgrey;
}

.jfxcentral-tab-pane .tab-content {
    -fx-padding: 20;
}

.jfxcentral-tab-pane .tab {
    -fx-alignment: center-left;
    -fx-pref-height: 60;
    -fx-padding: 20;
    -fx-font-size: 18;
    -fx-font-family: "Open Sans SemiBold";
    -fx-background-color: lightgrey;
    -fx-text-fill: grey;
    -fx-graphic-text-gap: 10px;
}

.jfxcentral-tab-pane .tab:selected {
    -fx-background-color: white;
    -fx-text-fill: grey;
}

.jfxcentral-tab-pane .tab:hover {
    -fx-background-color: rgba(255, 255, 255, .64);
}

/* -----------------------------------------------------------------------------
 * SectionPaneWithTabs
 */
.section-pane-with-tabs {
    -fx-padding: 0;
}

.library-cell .outer-box {
    -fx-spacing: 10px;
}

.library-cell .outer-box .hbox {
    -fx-spacing: 20px;
}

.library-cell .outer-box .hbox .vbox {
    -fx-spacing: 10px;
}

.library-cell .outer-box .hbox .vbox .title-label {
    -fx-graphic-text-gap: 20px;
}

.library-cell .outer-box .hbox .vbox .summary-label {
}

.library-cell .outer-box .button-box {
    -fx-spacing: 10px;
}

.library-cell .outer-box .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* -----------------------------------------------------------------------------
 * ThumbnailScrollPane
 */
.thumbnail-scroll-pane {
    -fx-effect: innershadow(gaussian, grey, 10, 0, 0, 0);
}

.thumbnail-scroll-pane .scroll-bar {
    -fx-translate-y: -5px;
    -fx-scale-x: .98;
}

.thumbnail-scroll-pane .thumbnail-box {
    -fx-spacing: 5px;
    -fx-background-color: rgb(245, 245, 245);
    -fx-background-radius: 4px;
    -fx-padding: 10px;
    -fx-alignment: center-left;
}

.thumbnail-scroll-pane .thumbnail-box .image-wrapper {
    -fx-padding: 10px 10px 10px 0px;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-style: dashed;
    -fx-border-color: lightgrey;
    -fx-border-insets: 0px 0px 10px 0px;
}

.thumbnail-scroll-pane .thumbnail-box .image-wrapper.last {
    -fx-border-width: 0px;
}

/* -----------------------------------------------------------------------------
 * LicenseLabel
 */
.license-label {
    -fx-font-size: 8;
    -fx-padding: 0px 3px;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-accent;
    -fx-opacity: .5;
}

.license-label .ikonli-font-icon {
    -fx-icon-color: white;
}

/* -----------------------------------------------------------------------------
 * BooksMasterView
 */
.books-master-view .list-view {
    -fx-pref-width: 150px;
}

.books-master-view .list-view .book-list-cell .grid-pane {
    -fx-vgap: 0px;
    -fx-hgap: 10px;
    -fx-grid-lines-visible: false;
}

/* ----------------------------------------------------------------------------
 * OpenJFXDetailView
 */
.openjfx-detail-view .pull-request-list-cell {
    -fx-padding: 10px 0px;
}

.openjfx-detail-view .pull-request-list-cell .hbox {
    -fx-spacing: 20px;
    -fx-alignment: center-left;
}

.openjfx-detail-view .pull-request-list-cell .hbox .vbox {
    -fx-alignment: center-left;
}

.openjfx-detail-view .pull-request-list-cell .hbox .photo-view {
    -size: 32px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.openjfx-detail-view .pull-request-list-cell .hbox .photo-view .border-circle {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}


.openjfx-detail-view .pull-request-list-cell .label-box {
    -fx-spacing: 5px;
}

.openjfx-detail-view .pull-request-list-cell .pull-request-label {
    -fx-text-fill: rgba(0, 0, 0, .6);
    -fx-padding: 2px 10px;
    -fx-background-radius: 1000px;
    -fx-border-radius: 1000px;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 12px;
}

.openjfx-detail-view .pull-request-list-cell .title-label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-graphic-text-gap: 10px;
}

.openjfx-detail-view .pull-request-list-cell .summary-label {
    -fx-opacity: .8;
    -fx-font-size: 14px;
}

.openjfx-detail-view .pull-request-list-cell .status-label {
    -size: 70px;
    -fx-font-family: "Open Sans SemiBold";
    -fx-background-radius: 3px;
    -fx-text-fill: white;
    -fx-padding: 2px 10px;
    -fx-min-width: -size;
    -fx-pref-width: -size;
    -fx-max-width: -size;
    -fx-alignment: center;
}

.openjfx-detail-view .pull-request-list-cell .status-label.open {
    -fx-background-color: -fx-accent;
}

.openjfx-detail-view .pull-request-list-cell .status-label.closed {
    -fx-background-color: -green;
}

/* ----------------------------------------------------------------------------
 * Pretty List View
 */

.pretty-list-view {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-width: 0;
}

.pretty-list-view > .virtual-flow > .scroll-bar,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-button,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.pretty-list-view .pretty-scroll-bar:vertical .thumb {
    -fx-background-insets: 0;
}

.pretty-list-view .pretty-scroll-bar:horizontal .thumb {
    -fx-background-insets: 0;
}

.pretty-list-view .pretty-scroll-bar .decrement-arrow,
.pretty-list-view .pretty-scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.pretty-list-view .pretty-scroll-bar {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
    -fx-padding: 0;
}

.pretty-list-view .pretty-scroll-bar .thumb {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

/* ----------------------------------------------------------------------------
 * Pretty ScrollPane
 */
.pretty-scroll-pane {
    -fx-padding: 0;
    -fx-background-insets: 0; /* no focus border */
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.pretty-scroll-pane .scroll-to-top-button {
    -size: 64px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-background-radius: 1000px;
    -fx-effect: -drop-shadow-2;
}

.pretty-scroll-pane .scroll-to-top-button .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 32px;
    -fx-icon-code: mdi-format-vertical-align-top;
}

.pretty-scroll-pane .scroll-to-top-button:hover .ikonli-font-icon {
    -fx-icon-color: white;
}

.pretty-scroll-pane .scroll-to-top-button:hover .ikonli-font-icon {
}

.pretty-scroll-pane .viewport {
}

.pretty-scroll-pane .viewport .clipped-container {
}

.pretty-scroll-pane .shadow {
    -fx-pref-height: 10;
    -fx-background-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .75), 20, 0.19, 0, 6);
}

.pretty-scroll-pane .scroll-bar {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

.pretty-scroll-pane .scroll-bar .thumb {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

.pretty-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-insets: 0;
}

.pretty-scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0;
}

.pretty-scroll-pane .scroll-bar .increment-button,
.pretty-scroll-pane .scroll-bar .increment-arrow,
.pretty-scroll-pane .scroll-bar .decrement-button,
.pretty-scroll-pane .scroll-bar .decrement-arrow {
    -fx-pref-width: 0 !important;
    -fx-pref-height: 0 !important;
}

/* ----------------------------------------------------------------------------
 * VideoCell
 */
.video-cell {
}

.video-cell .hbox {
    -fx-spacing: 20px;
}

.video-cell .thumbnail-wrapper {
    -fx-border-color: -fx-accent;
    -fx-border-width: 2px;
}

.list-view .video-cell .hbox {
    -fx-padding: 10px;
}

.video-cell .hbox .vbox {
    -fx-spacing: 20px;
}

.video-cell .title-label {
    -fx-font-size: 16px;
}

.video-cell .description-label {
}

/* ----------------------------------------------------------------------------
 * DownloadsDetailView
 */
.downloads-detail-view .download-cell {
}

.downloads-detail-view .download-cell .image-wrapper {
    -fx-border-color: -fx-accent;
}

.downloads-detail-view .hbox {
    -fx-spacing: 20px;
}

.downloads-detail-view .thumbnail-wrapper {
    -fx-border-color: -fx-accent;
    -fx-border-width: 2px;
}

.downloads-detail-view .video-cell .hbox {
    -fx-padding: 10px;
}

.downloads-detail-view .hbox .vbox {
    -fx-spacing: 20px;
}

.downloads-detail-view .title-label {
    -fx-font-size: 16px;
}

.downloads-detail-view .description-label {
}

/* ----------------------------------------------------------------------------
 * NewsDetailView
 */
.news-detail-view .news-cell {
}

.news-detail-view .news-cell .hbox {
    -fx-spacing: 20px;
}

.news-detail-view .list-view .news-cell .hbox {
    -fx-padding: 10px;
}

.news-detail-view .news-cell .banner-image-wrapper {
    -fx-border-color: -fx-accent;
    -fx-border-width: 2px;
    -fx-effect: -drop-shadow-2;
}

.news-detail-view .news-cell .hbox .vbox {
    -fx-spacing: 0px;
}

.news-detail-view .news-cell .title-label {
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans SemiBold";
}

.news-detail-view .news-cell .subtitle-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-accent;
}

.news-detail-view .news-cell .author-label {
    -fx-font-style: italic;
    -fx-opacity: .8;
}

.news-detail-view .news-cell .text-label {
}

/* ----------------------------------------------------------------------------
 * Markdown
 */

.markdown-text {
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans";
}

.markdown-italic {
    -fx-font-style: italic;
}

.markdown-bold {
    -fx-font-weight: bold;
}

.markdown-strikethrough {
    -fx-strikethrough: true;
}

.markdown-normal-flow {
    -fx-line-spacing: 2px;
}

.markdown-heading .markdown-text {
    -fx-font-size: 14px !important;
}

.markdown-heading-1 {
    -fx-padding: 0px 0px 14px 0px !important;
}

.markdown-heading-2 {
    -fx-padding: 20px 0px 10px 0px !important;
}

.markdown-heading-3 {
    -fx-padding: 0px 0px 8px 0px !important;
}

.markdown-heading-4 {
    -fx-padding: 0px 0px 6px 0px !important;
}

.markdown-heading-5 {
    -fx-padding: 0px 0px 4px 0px !important;
}

.markdown-heading-1 .markdown-text {
    -fx-font-size: 24 !important;
    -fx-font-family: "Open Sans Semibold" !important;
}

.markdown-heading-2 .markdown-text {
    -fx-font-size: 18 !important;
    -fx-font-family: "Open Sans Semibold" !important;
}

.markdown-heading-3 .markdown-text {
    -fx-font-size: 14 !important;
    -fx-font-family: "Open Sans Semibold" !important;
}

.markdown-heading-4 .markdown-text {
    -fx-font-size: 12 !important;
}

.markdown-heading-5 .markdown-text {
    -fx-font-size: 12 !important;
}

.markdown-link {
    -fx-fill: -mdfx-link-color;
}

.markdown-link-hover {
    -fx-underline: true;
}

.markdown-paragraph-list {
    -fx-spacing: 10;
}

.markdown-listitem-dot {
    -fx-text-fill: -mdfx-font-color;
}

.markdown-codeblock-box,
.markdown-code {
    -fx-padding: 0 8 0 8;
}

.markdown-code {
    /*-fx-max-width: 300*/
}

.markdown-code,
.markdown-codeblock {
    -fx-wrap-text: true;
    -fx-font-size: 14px;
}

.markdown-code {

}

.markdown-codeblock-box {
    -fx-padding: 8;
    -fx-border-radius: 2px;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0.5;
    -fx-background-radius: 2px;
    -fx-background-color: oldlace;
    -fx-font-family: "JetBrains Mono Regular";
}

.markdown-code-background {
    -fx-padding: 8;
    -fx-border-radius: 2px;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0.5;
    -fx-background-radius: 2px;
    -fx-background-color: oldlace;
}

.markdown-code-anti-padding {
    /*-fx-padding: -8;*/
    -fx-border-color: red;
    -fx-border-width: 1;
}

.markdown-table-table {
    -fx-vgap: 0;
    -fx-hgap: 0;
}

.markdown-table-cell {
    -fx-padding: 8;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0;
}

.markdown-table-even {
    -fx-background-color: white;
}

.markdown-table-odd {
    -fx-background-color: rgba(0, 0, 0, .05);
}

.markdown-table-cell-top {
    -fx-background-color: -light-blue;
}

.markdown-table-cell-top .text {
    -fx-text-fill: white !important;
}

.markdown-table-cell-top .markdown-normal-flow {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.markdown-hbox1 {
    -fx-spacing: 0;
    -fx-padding: 2;
}

/* ----------------------------------------------------------------------------
 * DetailedPersonCell
 */
.detailed-person-cell .hbox .photo-view {
    -size: 64px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.detailed-person-cell .hbox {
    -fx-spacing: 20px;
}

.detailed-person-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.detailed-person-cell .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.detailed-person-cell .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.detailed-person-cell .hbox .vbox .description-label {
}

.detailed-person-cell .hbox .vbox .social-box {
    -fx-spacing: 10px;
}

/* ----------------------------------------------------------------------------
 * DialogPane
 */
.root-pane > .dialog-panex > .content-pane {
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 3px;
    -fx-background-color: rgba(0, 0, 0, 1) !important;
    -fx-effect: -drop-shadow-3;
    -fx-min-width: 350px;
    -fx-min-height: 250px;
}

.root-pane > .dialog-panex > .content-pane > .close-button {
    -fx-background-radius: 3px;
    -fx-background-color: transparent !important;
    -fx-background-insets: 0px;
    -fx-padding: 2px;
    -size: 50px !important;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-translate-x: -10px;
    -fx-translate-y: 10px;
    -fx-cursor: hand;
}

.root-pane > .dialog-panex > .content-pane > .close-button:hover {
    -fx-background-color: transparent !important;
    -fx-opacity: 1 !important;
}

.root-pane .dialog-panex > .content-pane > .close-button:hover .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
}

.root-pane > .dialog-panex > .content-pane > .close-button:pressed {
    -fx-background-color: transparent;
}

.root-pane .dialog-panex > .content-pane > .close-button .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 48px !important;
}

.root-pane > .dialog-panex .pagination .pagination-control {
    -fx-pref-height: 0px;
    -fx-opacity: 0;
}

/* ----------------------------------------------------------------------------
 * HomeDetailView
 */
.home-detail-view .duke-wrapper {
    -fx-padding: 50px 0px 0px 0px;
}

.home-detail-view .title {
}

.home-detail-view .contact-markdown-view {
    -fx-line-spacing: 2px;
    -fx-padding: 0px 0px 20px 0px;
}

.home-detail-view .contact-markdown-view .markdown-text {
}

.home-detail-view .contact-markdown-view * {
    -fx-alignment: top-left;
    -fx-text-alignment: left;
}

.home-detail-view .footer {
    -fx-spacing: 20px;
}

.home-detail-view .contact-markdown-view .markdown-paragraph-list {
    -fx-alignment: top-center;
    -fx-spacing: 0px;
}

.home-detail-view .social-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.home-detail-view .social-pane .social-label {
    -fx-cursor: hand;
    -fx-text-fill: -fx-accent;
}

.home-detail-view .social-pane .social-label:hover {
    -fx-underline: true;
}

.home-detail-view .social-pane .icon-wrapper {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 1000px;
    -fx-padding: 10px;
}

.home-detail-view .social-pane .icon-wrapper .ikonli-font-icon {
    -fx-cursor: hand;
    -fx-icon-color: white;
    -fx-icon-size: 18px;
}

.home-detail-view .recent-item-cell,
.home-detail-view .recent-item-cell.last {
    -fx-padding: 5px 10px 5px 5px;
}

.home-detail-view .recent-item-cell .hbox {
    -fx-alignment: center-left;
    -fx-spacing: 20px;
}

.home-detail-view .recent-item-cell .hbox .icon-wrapper {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 2px;
}

.home-detail-view .recent-item-cell .hbox .icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}

.home-detail-view .recent-item-cell .hbox .title-label {
    -fx-font-family: "Open Sans Bold";
}

.home-detail-view-view .recent-item-cell .hbox .subtitle-label {
    -fx-opacity: .8;
}

.home-detail-view .recent-item-cell .hbox .date-label {
}

.home-detail-view-view .recent-item-cell .hbox .vbox {
}

/* ----------------------------------------------------------------------------
 * HeaderPane
 */
.header-pane {
    -fx-spacing: 10px;
    -fx-padding: 0px 20px;
    -fx-pref-height: 75px;
    -fx-background-color: derive(-fx-accent, +20%);
    /*linear-gradient(rgba(38, 40, 41, 1) 0%, rgba(59, 63, 65, 1) 100%);*/
    -fx-border-color: rgba(0, 0, 0, .05);
    -fx-border-width: 0px 0px 1px 0px;
}

.header-pane .title {
    -fx-font-family: "Pattaya";
    -fx-font-size: 48px;
    -fx-text-fill: white;
    -fx-alignment: center-right;
}

.header-pane .title-shadow {
    -fx-font-family: "Pattaya";
    -fx-font-size: 48px;
    -fx-text-fill: derive(-fx-accent, -50%);
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
}

/* ----------------------------------------------------------------------------
 * BlogsMasterView
 */
.blogs-master-view {
}

.blogs-master-view .button-wrapper {
    -fx-padding: 0px 10px;
}

.blogs-master-view .blog-cell .label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: -fx-accent;
}


/* ----------------------------------------------------------------------------
 * BlogsDetailView
 */

.blogs-detail-view .title-section .hbox {
    -fx-spacing: 20px;
}

.blogs-detail-view .title-section .hbox .photo-view {
    -size: 100px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.blogs-detail-view .title-section .hbox .vbox {
    -fx-spacing: 20px;
}

.blogs-detail-view .title-section .hbox .vbox .name-label {
    -fx-graphic-text-gap: 10px;
}

.blogs-detail-view .title-section .hbox .vbox .name-label .badges-box {
    -fx-spacing: 10px;
    -fx-translate-y: -5px;
}

.blogs-detail-view .title-section .hbox .vbox .description-label {
}

.blogs-detail-view .title-section .hbox .vbox .social-box {
    -fx-spacing: 10px;
}

.blogs-detail-view .post-cell {
    -fx-padding: 10px 10px 10px 0px;
}

.blogs-detail-view .post-cell .title-label {
    -fx-font-family: "Open Sans SemiBold";
}

.blogs-detail-view .post-cell .blog-label {
    -size: 150px;
    -fx-min-width: -size;
    -fx-pref-width: -size;
    -fx-max-width: -size;
    -fx-opacity: .7;
}

/* ----------------------------------------------------------------------------
 * CompanyDetailView
 */

/* Company Cell */

.companies-detail-view .company-cell {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: rgba(0, 0, 0, .2);
}

.companies-detail-view .company-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 2px -8px 3px -8px;
    -fx-background-radius: 2px;
}

.companies-detail-view .company-cell:selected .label {
    -fx-text-fill: white;
}

.companies-detail-view .company-cell.last {
    -fx-padding: 10px 0px;
    -fx-border-width: 0px;
}

.companies-detail-view .company-cell .hbox {
    -fx-spacing: 20px;
}

.companies-detail-view .company-cell .hbox .vbox {
    -fx-spacing: 10px;
}

.companies-detail-view .company-cell .hbox .vbox .name-label {
}

.companies-detail-view .company-cell .hbox .vbox .description-markdown {
}

.companies-detail-view .company-cell .button-box {
    -fx-spacing: 10px;
}

.companies-detail-view .company-cell .button-box .button .ikonli-font-icon {
    -fx-icon-size: 18px;
}

/* ----------------------------------------------------------------------------
 * ToolsDetailView
 */
.tools-detail-view .vbox {
    -fx-spacing: 20px;
}