[Desktop Entry]
Name=AwesomeFX
Comment=A funy app
Terminal=false
Type=Application
Categories=DEPLOY_BUNDLE_CATEGORY
DESKTOP_MIMES
StartupWMClass=com.dlsc.jfxcentral.JFXCentralApp